<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxp.h5_scheme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <!--cxp://cxp521.com:80/test?name=CXP&page=10-->
                <!--端口号和后面的参数可以不加-->
                <!--android:scheme : 唤起协议-->
                <!--android:host : 唤起host，只有置顶的host才可被唤起-->
                <!--android:pathPrefix : 唤起的路径，对路径进一步的过滤-->
                <data
                    android:host="cxp521.com"
                    android:scheme="cxp" />
            </intent-filter>
        </activity>
        <activity android:name=".JSActivity" />
        <activity android:name=".WebViewActivity" />
    </application>

</manifest>